body {
    background-color: black;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #h3 {
    color: aliceblue;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  img {
    width: 100px;
  }
  
 
  @media screen and (max-width: 600px) {
    img {
      width: 80px;
    }
  }
  
  @media screen and (max-width: 400px) {
    img {
      width: 60px;
    }
  }
  